body {
  background: #FFE1AD;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 100%;
}

.header {
  background: #FFF;
  width: 100%;
  margin-bottom: 0;
}

.header .container-fluid {
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-brand {
  font-size: 20pt;
  font-weight: bold;
  color: #000;
}

.search-form {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-bottom: 20px;
  padding: 0;
}

.search-form .form-group {
  padding-left: 0;
  padding-right: 0;
  width: 75%;
}

.search-form input.form-control {
  width: 100%;
  border: 0;
  border-radius: 0;
  background: #FBFBFB;
}

.search-form .btn {
  width: 20%;
  float: right;
  border-radius: 0;
  color: #A394A5;
  font-weight: bold;
  border-color: #A7A9AC;
}

.questions-filter {
  margin-top: 15px;
}

.questions-filter label {
  font-weight: bold;
}

.questions-sorting {
  width: 25%;
  text-align: right;
  font-family: 'PT Serif', serif;
  color: #000;
}

.questions-sorting .navbar-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #0266B3;
  margin-left: 5px;
}

.questions-sorting .navbar-link:first-child {
  margin-right: 5px;
}

.questions-sorting .navbar-link.active {
  color: #A394A5;
  text-decoration: underline;
}

.header .last-time-discussed {
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #000;
}

.add-question-btn {
  font-size: 23px;
  color: #0266B3;
  font-weight: 600;
}

.content {
  background-color: #FBFBFB;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1260px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.modal-content {
  border-radius: 0;
}
