.questions {
  max-width: 1000px;
  height: 100%;
  background: #FFF;
  margin: 0 auto;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.question {
  color: #A394A5;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.question .info {
  height: 80px;
  background: #DFF3FD;
  padding-top: 10px;
}

.question .info .avatar {
  height: 80px;
  text-align: center;
}

.question .info .avatar img {
  width: 60px;
}

.question .info .author {
  color: #026DCE;
  font-size: 12pt;
  font-weight: bold;
}

.question .info .title {
  color: #026DCE;
  font-size: 13pt;
  font-weight: bold;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.question .asked {
  height: 190px;
  background: #DFF3FD;
}

.question .asked > p {
  width: 80%;
  text-align: center;
  font-size: 9pt;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #A394A5;
  padding-top: 10px;
  margin-bottom: 5px;
}

.question .activity {
  height: 150px;
  margin-top: 40px;
  padding-right: 0;
}

.question .activity > div {
  position: relative;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.question .activity .avatar {
  width: 60px;
  margin-top: 10px;
}

.question .activity .type {
  position: absolute;
  bottom: 0;
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid #A394A5;
  font-size: 9pt;
}

.question .activity .type::after {
  content: '';
  display: block;;
  width: 10px;
  height: 10px;
  background: #A394A5;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: -15px;
}

.question .activity.answer .type {
  border-top-color: #000;
}

.question .activity.answer .type::after {
  background: #000;
}

.question .activity.more-activities .box {
  background: #FFF;
}

.question .activity.more-activities .total {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
}

.question .activity.more-activities .type {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 11pt;
  font-style: italic;
  border-top: none;
}

.question .summary {
  height: 150px;
  margin-top: 40px;
  width: 100%;
  font-style: italic;
  color: #000;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

.question .summary p {
  margin-bottom: 30px;
}

.question .summary p .total {
  font-family: initial;
  font-style: initial;
  width: 50px;
  text-align: right;
  display: inline-block;
}

.more-questions {
  display: inline-block;
  margin: 30px;
  color: #DC1763;
  font-size: 12pt;
}

.more-questions:hover,
.more-questions:focus {
  color: #DC1763;
}
