/**** Questions list ****/

.questions {
  max-width: 1000px;
  height: 100%;
  background: #FFF;
  margin: 0 auto;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.question {
  color: #A394A5;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.question .info,
.question .user-actions {
  height: 80px;
  background: #DFF3FD;
  padding-top: 10px;
}

.question .info .avatar {
  height: 80px;
  text-align: center;
}

.question .info .avatar img {
  width: 60px;
}

.question .info .author,
.question .user-actions .following,
.answer .info .author {
  color: #026DCE;
  font-size: 12pt;
  font-weight: bold;
}

.question .info .title {
  color: #026DCE;
  font-size: 13pt;
  font-weight: bold;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.question .asked {
  min-height: 190px;
  background: #DFF3FD;
}

.question .asked > p {
  width: 80%;
  text-align: center;
  font-size: 9pt;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #A394A5;
  padding-top: 10px;
  margin-bottom: 5px;
}

.question .activity {
  height: 150px;
  margin-top: 40px;
  padding-right: 0;
}

.question .activity > div {
  position: relative;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.question .activity .avatar {
  width: 60px;
  margin-top: 10px;
}

.question .activity .type {
  position: absolute;
  bottom: 0;
  width: 80%;
  padding-top: 10px;
  border-top: 1px solid #A394A5;
  font-size: 9pt;
}

.question .activity .type::after {
  content: '';
  display: block;;
  width: 10px;
  height: 10px;
  background: #A394A5;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: -15px;
}

.question .activity.answer .type {
  border-top-color: #000;
}

.question .activity.answer .type::after {
  background: #000;
}

.question .activity.more-activities .box {
  background: #FFF;
}

.question .activity.more-activities .total {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
}

.question .activity.more-activities .type {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 11pt;
  font-style: italic;
  border-top: none;
}

.question .summary {
  height: 150px;
  margin-top: 40px;
  width: 100%;
  font-style: italic;
  color: #000;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

.question .summary p {
  margin-bottom: 30px;
}

.question .summary p .total {
  font-family: initial;
  font-style: initial;
  width: 50px;
  text-align: right;
  display: inline-block;
}

.more-questions {
  display: inline-block;
  margin: 30px;
  color: #DC1763;
  font-size: 12pt;
}

.more-questions:hover,
.more-questions:focus {
  color: #DC1763;
}

/**** End - Questions list ****/

/**** Question detail ****/

.question-detail {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.question-detail .question {
  background: #FFF;
  padding-bottom: 0;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
}

.question .user-actions {
  text-align: center;
  padding-top: 20px;
}

.question .description {
  padding-top: 15px;
  color: #000;
}

.answer .votes,
.question .votes {
  text-align: center;
  padding-top: 15px;
  color: #000;
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

.answer .votes .total,
.question .votes .total {
  font-family: 'Roboto Condensed', sans-serif;
}

.answer .votes .actions,
.question .votes .actions {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  color: #0266B3;
}

.answer .new-comment,
.question .new-answer {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 0);
  padding: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  font-weight: bold;
  color: #000;
}

/**** End - Question detail ****/

/**** Answers and comments ****/

.peers-summary {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

.peers-summary .total {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: initial;
}

.question-detail .answer {
  margin-bottom: 30px;
  position: relative;
  box-shadow: 4px -3px 3px -3px rgba(0,0,0,0.2);
}

.question-detail .answer .row {
  display: flex;
}

.question-detail .answer .row > div {
  background: #FFF;
}

.question-detail .answer .row .info .row > div {
  padding-top: 10px;
}

.question-detail .answer .info {
  min-height: 80px;
  background: #FFF;
}

.question-detail .answer .avatar {
  min-height: 80px;
  text-align: center;
  border-right: 1px solid #E5E5E5;
}

.question-detail .answer .avatar img {
  width: 60px;
}

.question-detail .answer .info .action {
  color: #A394A5;
  margin: 0 5px;
}

.question-detail .answer .text {
  padding-bottom: 30px;
}

.question-detail .answer .time {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: bold;
}

.question-detail .comment {
  border-top: 1px solid #E5E5E5;
}

.question-detail .comment .info .row > div:first-child {
  background: #FBFBFB;
}

/**** End - Answers and comments ****/
