<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#questions-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="questions">QUESTION</a>
    </div>

    <div class="collapse navbar-collapse" id="questions-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-plus-sign add-question-btn"></span>
          </a>
        </li>
      </ul>

      <p class="navbar-text navbar-right last-time-discussed">
        Last time discussed
        <span class="date">Oct 5, 2016</span>
      </p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>